<!DOCTYPE html>
<html lang="en">
<!--==========================
            HEAD
============================-->
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>
    <!--enlace hoja estilos propia-->
    <link rel="stylesheet" href="/css/styles-home.css">
    <!--enlace hoja estilos google fonts-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <!--enlace hoja estilos normalize-->
    <link rel="stylesheet" href="/css/normalize.css">
    <!--enlace a los íconos de fontawesome-->
    <script src="https://kit.fontawesome.com/606e397101.js" crossorigin="anonymous"></script>
</head>
<!--==========================
            BODY
============================-->
<body>
<!--==========================
           MAIN HEADER
============================--> 
    <header class="main-header">
        <div class="main-header-top-bar">
            <div class="main-header-div">
                <div class="div-main-logo">
                    <img src="/images/logo-mercado-liebre.svg" alt="logo mercado liebre">
                </div>
                <form action="/search" method="POST" class="main-div-search">
                    <div>
                        <div class="div-search">
                            <div class="div-main-busqueda">
                                <input class="input-busqueda" type="search" name="busqueda" ></input>
                                <button type="submit" class="ilupa"><i class="fas fa-search"></i></button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="p-text">
                <p><i class="fas fa-hand-holding-usd"></i> Comprá en coutas y sin tarjeta de crédito</p>
            </div>
        </div>
        <!--==========================
                MENÚ HAMBURGUESA
        ============================-->    
        <a href="" class="hamburguer-buttom">
            <i class="fas fa-bars"></i>
        </a>
         <!--==========================
                MENÚ NAVEGACIÓN
        ============================-->
        <nav class="main-navbar">
            <ul> 
                <li> <a href="">Ofertas</a> </li>
                <li> <a href="">Tiendas Oficiales</a> </li>
                <li> <a href="">Vender</a> </li>
                <li> <a href="">Ayuda</a> </li>
            </ul>
        
            <ul> 
                <li> <a href="/register">Crea tu cuenta </a>  <i class="fas fa-id-card"></i></li>
                <li> <a href="/login">Ingresá </a>  <i class="fas fa-sign-in-alt"></i> </li>
                <li> <a href="">Mis compras </a>  <i class="fas fa-shopping-basket"></i></li>
            </ul>
        </nav>
        
        <br/>
        
    </header>
    <!--==========================
              BANNER
    ============================--> 
    <section class="banner">
        <img class="img"   src="./images/img-home-banner.jpg" alt="banner"/>
    </section>
 <!--==========================
              MAIN
    ============================--> 
    <main>
        <!--==========================
              SECTION ÚLTIMA VISITA
        ============================-->
        <div class="div-titulares">
            <h3 class="h3-titulares">Basado en tu última visita</h3>
        </div>
        <section class="section-main">
            <div class="section-principal">
                <article class="article-productos">
                    <div class="detalle-producto">
                        <img src="./images/img-cafetera-moulinex.jpg" alt="imagen cafetera">
                    </div>
                    <div class="div-barra">
                        <div>
                           <i class="fas fa-truck camioncito"></i>
                        </div>
                        <div class="div-precio-descuento">
                            <p class="p-precio"> $6.770</p>
                            <p class="p-descuentos">40% OFF</p>
                        </div>
                        <h4 class="p-descripcion">Cafetera Moulinex</h4>
                    </div>
                </article>
    
                <article class="article-productos">
                    <div class="detalle-producto">
                        <img src="./images/img-macbook-pro-2019.jpg" alt="imagen mcbook pro">
                    </div>    
                    <div class="div-barra">
                        <div>
                            <i class="fas fa-truck camioncito"></i>
                        </div>
                        <div class="div-precio-descuento">
                            <p class="p-precio"> $230.000</p>
                            <p class="p-descuentos">20% OFF</p>
                        </div>
                        <h4 class="p-descripcion">MacBook Pro 2019</h4>
                    </div>
                </article>
            </div>
            <div class="section-principal">
                <article class="article-productos">
                    <div class="detalle-producto">
                        <img src="./images/img-samsung-galaxy-s10.jpg" alt="imagen samsung galaxy">
                    </div>
                    <div class="div-barra">
                        <div>
                            <i class="fas fa-truck camioncito"></i>
                        </div>
                        <div class="div-precio-descuento">
                            <p class="p-precio"> $70.500</p>
                            <p class="p-descuentos">10% OFF</p>
                        </div>
                        <h4 class="p-descripcion">Samsung Galaxy S10</h4>
                    </div>
                </article>

                <article class="article-productos">
                    <div class="detalle-producto">
                        <img src="./images/img-tv-samsung-smart.jpg" alt="imagen samsung galaxy">
                    </div>
                    <div class="div-barra">
                        <div>
                            <i class="fas fa-truck camioncito"></i>
                        </div>
                        <div class="div-precio-descuento">
                            <p class="p-precio"> $23.200</p>
                            <p class="p-descuentos">5% OFF</p>
                        </div>
                        <h4 class="p-descripcion">SmartTv Samsung 43"</h4>
                    </div>
                 </article>
            </div>    
        </section>

        <!--==========================
               SECTION OFERTAS
         ============================-->
         <div class="div-titulares">
            <h3 class="h3-titulares">Ofertas</h3>
        </div>
         <section class="section-main">
           
            <div class="section-principal">
                <article class="article-productos">
                    <div class="detalle-producto">
                        <img src="./images/img-cafetera-moulinex.jpg" alt="imagen cafetera">
                    </div>
                    <div class="div-barra">
                        <div>
                           <i class="fas fa-truck camioncito"></i>
                        </div>
                        <div class="div-precio-descuento">
                            <p class="p-precio"> $6.770</p>
                            <p class="p-descuentos">40% OFF</p>
                        </div>
                        <h4 class="p-descripcion">Cafetera Moulinex</h4>
                    </div>
                </article>
    
                <article class="article-productos">
                    <div class="detalle-producto">
                        <img src="./images/img-macbook-pro-2019.jpg" alt="imagen mcbook pro">
                    </div>    
                    <div class="div-barra">
                        <div>
                            <i class="fas fa-truck camioncito"></i>
                        </div>
                        <div class="div-precio-descuento">
                            <p class="p-precio"> $230.000</p>
                            <p class="p-descuentos">20% OFF</p>
                        </div>
                        <h4 class="p-descripcion">MacBook Pro 2019</h4>
                    </div>
                </article>
            </div>
            <div class="section-principal">
                <article class="article-productos">
                    <div class="detalle-producto">
                        <img src="./images/img-samsung-galaxy-s10.jpg" alt="imagen samsung galaxy">
                    </div>
                    <div class="div-barra">
                        <div>
                            <i class="fas fa-truck camioncito"></i>
                        </div>
                        <div class="div-precio-descuento">
                            <p class="p-precio"> $70.500</p>
                            <p class="p-descuentos">10% OFF</p>
                        </div>
                        <h4 class="p-descripcion">Samsung Galaxy S10</h4>
                    </div>
                </article>

                <article class="article-productos">
                    <div class="detalle-producto">
                        <img src="./images/img-tv-samsung-smart.jpg" alt="imagen samsung galaxy">
                    </div>
                    <div class="div-barra">
                        <div>
                            <i class="fas fa-truck camioncito"></i>
                        </div>
                        <div class="div-precio-descuento">
                            <p class="p-precio"> $23.200</p>
                            <p class="p-descuentos">5% OFF</p>
                        </div>
                        <h4 class="p-descripcion">SmartTv Samsung 43"</h4>
                    </div>
                 </article>
        </section>
    </main>
    <!--==========================
              FOOTER
    ============================-->
    <footer>
        <div class="footer-principal">
            <section class="section-footer" >
                <i class="isection fas fa-credit-card"></i>
                <h4 class="h4section-footer" >Pagá con tarjeta o en efectivo</h4>
                <p class="psection-footer">Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                    puntos de pago. ¡Y siempre es seguro!</p>
            </section>

            <section class="section-footer">
                <i class="isection fas fa-gift"></i>
                <h4 class="h4section-footer">Envío gratis desde $ 2.500</h4>
                <p class="psection-footer">Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                    productos. Es un beneficio de Mercado Puntos.</p>
            </section>

            <section class="section-footer">
                <i class="isection fas fa-user-shield"></i>
                <h4 class="h4section-footer">Seguridad, de principio a fin</h4>
                <p class="psection-footer">¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                    porque estás siempre protegid@.</p>
            </section>
        </div>
        <section class="section-footer-copy">
            <p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
        </section>
    </footer>
</body>
</html>